html,
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #d6c692;
    font-size: 1.5rem;
    color: #484848;
}

img {
    width: 100%;
    display: block;
}

p {
    margin: 0.5rem;
}

a,
a:visited {
    color: #484848;
    text-decoration: none;
    border-radius: 0.5rem;
    background-color: wheat;
    padding-block: 0.5rem;
    display: inline-block;
    width:10rem;
    text-align: center;
    box-shadow: 2px 2px 8px;
}       

.vertical-flexbox {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
